<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Student at
      <a class="underline-link" href="https://www.nycu.edu.tw/" target="_blank">National Yang Ming Chiao Tung University</a> pursuing Bachelor's degree in Computer Science. 
      
      I am now working at
      <a class="underline-link" href="https://www.inquartik.com.tw/" target="_blank">InQuartik</a> as a Software Engineer Intern now.
      
      I worked at
      <a class="underline-link" href="https://www.synopsys.com/" target="_blank">Synopsys</a> as a Software Engineer Intern in Summer 2021.
    </p>

    <p>
      As a computer science student, I enjoy trying new and cool stuffs, experience special things, and learn new knowledges. I am interested in Machine Learning and Data Science, trying to convert data into novel insights.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably watching Netflix, playing basketball, playing tennis, hiking, or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
