<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/wutonytt/Camera-Based-Table-Tennis-Posture-Analysis" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/wutonytt/Camera-Based-Table-Tennis-Posture-Analysis" target="_blank">Camera-Based Table Tennis Posture Analysis</a>
        </div>
        <p>Utilized an SVM model to classify table tennis players’ postures (forehand, backhand, etc.) with skeleton detection. Successfully achieved 92% overall accuracy on test videos</p>
        <p>Built a model to trace balls and tables by Semantic Segmentation with Google AI’s EfficientNet with a 90% average IoU score on test images</p>
        <p>Successfully increased the efficiency of video analyses by automatically calculating the postures distributions and automatically breaking down videos</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/wutonytt/NYCU-Spring-2021-AI-Final-Project" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/wutonytt/NYCU-Spring-2021-AI-Final-Project" target="_blank">ScreenTime 2.0</a>
        </div>
        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even
          create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div>
  </div>
</section>
